<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin
      name="gz_ros2_control"
      filename="libgz_ros2_control-system.so">

      <parameters>
        /home/minh/ros2_ws/src/dhtbot_one/config/my_controllers.yaml
      </parameters>

    </plugin>
  </gazebo>

</robot>
